langchain
langchain-core
langchain-community
langchain-chroma
langgraph
chromadb

sentence-transformers==3.4.1
pymupdf

python-dotenv
langchain-text-splitters
langchain-groq
fastapi
uvicorn[standard]
python-multipart